* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #f3f3f3;
}
body {
  background-image: url(../images/bg.jpg);
}
.w {
  width: 1000px;
  margin: 0 auto;
}
.logo img{
  display: block;
  margin: 50px auto;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px;
}
.btn a div{
  display: inline-block;
  width: 200px;
  height: 75px;
  line-height: 75px;
  margin: 0 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.download {
  background-color: #53b647;
}
.recharge {
  background-color: #2980cd;
}
.qun {
  background-color: #fb7299;
}
.txt {
  border: 2px solid #000;
  height: 150px;
  width: 880px;
  margin: 0 auto;
  padding: 20px 5px;
  border-radius: 10px;
  color: red;
  font-size: 12px;
  background-color: #f3f3f3;
}
.show img {
  display: block;
  margin: 50px auto;
  width: 900px;
  height: 350px;
}
.copyright {
  width: 100%;
  height: 80px;
  margin: 20px auto;
  text-align: center;
  line-height: 80px;
  background-color: #bab9bd;
}